# Log files
*.log

# Eclipse / STS workspace & metadata
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.classpath
.project
.factorypath

# Maven
target/

# Node / Frontend
node_modules/
dist/
.output/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
